@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.sectionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 170px;
  text-align: center;
}
.sectionTitle h2 {
  display: block;
  opacity: 0.9;
  color: #000000;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2.28px;
}
.sectionTitle span {
  display: block;
  opacity: 0.62;
  color: #000000;
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.08px;
}

.slider {
  flex-basis: 50%;
  margin: 0 50px 0 0;
}

.slider_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_img img {
  z-index: 2;
  box-shadow: -20px 0 30px -30px rgba(0, 0, 0, 0.5), 20px 0 30px -30px rgba(0, 0, 0, 0.5);
}

.blockBehind {
  width: 440px;
  height: 415px;
  position: absolute;
  background: #eeeff1;
  z-index: 1;
}

.slider_radio {
  padding: 40px 0 0 0;
}
.slider_radio input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 35%;
  width: 16px;
  height: 16px;
  background: #d0d0d0;
  transition: 0.2s all linear;
  margin-right: 3px;
  position: relative;
}
.slider_radio input:checked {
  background: #71f6eb;
}

.galery {
  display: inline-flex;
  flex-wrap: wrap;
  width: 1170px;
}
.galery .galery_image {
  padding: 7.5px;
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body {
  left: 0;
  top: 0;
  margin: 0;
}

.sectionStart {
  padding: 65px 150px;
  height: 100vh;
  background: #eff0f2;
  position: relative;
}
.sectionStart .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 110px;
  border: 5px solid #170f1c;
}
.sectionStart .logo p {
  text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
  color: #000000;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
}
.sectionStart .logo p span {
  color: #77efe5;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1.26px;
}
.sectionStart .title {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectionStart .title h1 {
  text-align: center;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  line-height: 50px;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  color: #505050;
  margin: 0 0 50px 0;
}
.sectionStart .title span {
  background: #aceae6;
}
.sectionStart .title .buttonContactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  border: 1px solid #777879;
  margin: 100px 0 0 0;
  transition: 0.2s;
  cursor: pointer;
}
.sectionStart .title .buttonContactUs p {
  opacity: 0.75;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}
.sectionStart .title .buttonContactUs:hover {
  background: #aceae6;
}
.sectionStart .juiceImg {
  position: absolute;
  right: 260px;
  bottom: 130px;
}

.sectionAboutUs {
  text-align: center;
  background: #f8fafa;
}
.sectionAboutUs .aboutUs {
  display: inline-flex;
  width: 950px;
  padding: 0 0 115px 0;
}
.sectionAboutUs .aboutUs_text {
  flex-basis: 50%;
  margin: 0 0 0 50px;
}
.sectionAboutUs .aboutUs_text h2 {
  opacity: 0.75;
  color: #000000;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.sectionAboutUs .aboutUs_text p {
  opacity: 0.74;
  color: #000000;
  font-family: Raleway;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.8px;
}
.sectionFeaturedWorks {
  text-align: center;
  background: #ffffff;
  padding: 0 0 130px 0;
}

.hoverEfect {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 65px 30px;
}
.hoverEfect h2 {
  opacity: 0.95;
  color: #ffffff;
  font-family: Merriweather;
  font-size: 25px;
  line-height: 29px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hoverEfect p {
  opacity: 0.9;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.32px;
}

.sectionOurServices {
  text-align: center;
  background: #f9fbfb;
  padding: 0 0 115px 0;
}
.sectionOurServices .galery2 {
  display: inline-flex;
  width: 1170px;
  flex-wrap: wrap;
}
.sectionOurServices .galery_image__66 {
  flex-basis: 66;
  margin: 7.5px;
  position: relative;
}
.sectionOurServices .galery_image__66 img {
  width: 652px;
  height: 370px;
}
.sectionOurServices .galery_image__33 {
  flex-basis: 33.333333%;
  margin: 7.5px;
  position: relative;
}
.sectionOurServices .galery_image__33 img {
  width: 474px;
  height: 370px;
}

.galery_image__66:hover .hoverEfect {
  position: absolute;
  display: block;
}

.galery_image__33:hover .hoverEfect {
  position: absolute;
  display: block;
}

.sectionSmallTeam {
  text-align: center;
  background: #ffffff;
  padding: 0 0 115px 0;
}

.hover_SmallTeam {
  display: none;
}
.hover_SmallTeam h2 {
  padding: 20px 40px 0 40px;
  opacity: 0.95;
  color: #000;
  font-family: Merriweather;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
.hover_SmallTeam h2 span {
  color: #767070;
  font-family: "Merriweather - Regular";
  font-style: italic;
  letter-spacing: 0.45px;
}
.hover_SmallTeam p {
  padding: 20px 40px 40px 40px;
  float: left;
  opacity: 0.8;
  color: #000000;
  font-family: Raleway;
  font-size: 16px;
  line-height: 24px;
}

.galery_image:hover .hover_SmallTeam {
  display: block;
  width: 80%;
  height: 40%;
  bottom: 50px;
  background: #6ff5ea;
  position: absolute;
}

.sectionWhatTheySays {
  background: #f9fbfb;
  padding: 0 0 115px 0;
  text-align: center;
}
.sectionWhatTheySays .teamSlider {
  display: inline-flex;
  width: 1165px;
}
.sectionWhatTheySays .textCard {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 66%;
  margin: 12.5px 0 0 50px;
}
.sectionWhatTheySays .textBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eeeff1;
  height: 415px;
  padding: 0 85px;
}
.sectionWhatTheySays .textBlock h2 {
  color: #000000;
  font-family: "Merriweather - Bold";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.sectionWhatTheySays .textBlock span {
  font-family: "Merriweather - Regular";
  font-weight: 400;
  color: #787878;
  font-size: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.sectionWhatTheySays .textBlock p {
  opacity: 0.7;
  color: #000000;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.96px;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.buttons .buttonSlider {
  background: #ffffff;
  padding: 20px;
  width: -webkit-fit-content;
  width: fit-content;
  box-shadow: 0 0 5px 1px #bfbfbf;
  margin: 30px 0 0 30px;
  transition: 0.2s;
  cursor: pointer;
}
.buttons .buttonSlider .changeButton {
  display: none;
}

.buttonSlider:hover {
  background: #71f6eb;
}

.buttonSlider:hover .changeButton {
  display: block;
}

.buttonSlider:hover .visibleButton {
  display: none;
}

.feedBack {
  background: #f9fbfb;
  display: flex;
  justify-content: center;
  padding: 123px 0;
}
.feedBack .feedBack_blocks {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedBack .massageBlock {
  height: 430px;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding: 35px;
  background-color: #eaebed;
  margin: 0 15px 0 0;
}
.feedBack input, .feedBack textarea {
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Raleway;
  color: #000000;
  font-size: 20px;
  resize: none;
  height: 50px;
  margin: 2.5px 0;
}
.feedBack textarea {
  height: 100px;
}
.feedBack .buttonSend {
  background: #6eeee4;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 25px;
  transition: 0.5s;
  cursor: pointer;
  margin: 30px 0 0 0;
}
.feedBack .buttonSend p {
  opacity: 0.7;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
}
.feedBack .buttonSend:hover {
  box-shadow: 0 0 10px 1px #7b7b7b;
}
.feedBack .novigationBlock {
  height: 430px;
  flex-basis: 40%;
  margin: 0 0 0 15px;
  padding: 30px;
  background-color: #eaebed;
}
.feedBack .novigationBlock p {
  opacity: 0.7;
  color: #000000;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0 0 20px 8px;
}
.feedBack .map {
  height: 200px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Merriweather - Bold";
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

footer {
  background: #262b2e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 50px 0;
}
footer h2 {
  opacity: 0.8;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
}
footer .links {
  display: flex;
}
footer .socialLinks {
  background: #424648;
  padding: 10px;
  transition: 0.5s;
  margin: 20px 7px 35px 0;
  width: -webkit-fit-content;
  width: fit-content;
  cursor: pointer;
}
footer .socialLinks img {
  width: 30px;
  height: 30px;
}
footer p {
  margin: 30px 0 0 0;
  opacity: 0.4;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.16px;
}

.socialLinks:hover {
  background: #6eeee3;
}